[submodule "engines/history-substring-search/external"]
	path = engines/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "engines/syntax-highlighting/external"]
	path = engines/syntax-highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "engines/completion/external"]
	path = engines/completion/external
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "engines/autosuggestions/external"]
	path = engines/autosuggestions/external
	url = https://github.com/tarruda/zsh-autosuggestions.git
[submodule "engines/prompt/external/powerlevel9k"]
	path = engines/prompt/external/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "engines/prompt/external/pure"]
	path = engines/prompt/external/pure
	url = https://github.com/sindresorhus/pure.git
